<div class="viewblog_bg">
	<div class="viewblog">
		<div class="main_bg">

			<div class="title">
				Написать в блог

			</div>
			<div class="main">
				<form action="" method="post">
					<span class="name1"> Заголовок:
						<input type="" name="title" />
						<br>
					</span>
					<span class="post_blog"><span class="name1">Пост: </span>
					<textarea class='tinymce' name="body" id="" cols="30" rows="10"></textarea> </span>
					<br>
					<div class="write">
						<input type='submit' value='Добавить'>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>