DirectoryIndex index.html
RewriteEngine On
ErrorDocument 403 /index.html
RewriteCond %{REQUEST_URI} !^/core/core.php$ 
RewriteRule ^.*$ /core/core.php  [QSA]
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
AddDefaultCharset UTF-8
<Files ~ "\.(yaml)$">
    order allow,deny
	deny from all
</Files>
