DirectoryIndex index.html
RewriteEngine On
RewriteRule ^(.*?)/$ $1/index.html [QSA]
ErrorDocument 403 /index.html
RewriteRule ^(.*)\.html$ /core/core.php?stringjustforcore=$1  [QSA]
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
AddDefaultCharset UTF-8
<Files ~ "\.(yaml)$">
    order allow,deny
	deny from all
</Files>