*{
	margin:0;
	padding: 0;
	border: 0;
}
body{
	background-color: #000000;
}
.mainframe{
	width: 1008px;
	margin: 0 auto;
	background-image: url('/templates/sati/sc-pic/i0001.jpg');
	height: 654px;
}
.link{
	position: absolute;
	cursor: pointer;
}
.link1{
	margin-left: 145px;
	margin-top: 212px;
}
.link2{
	margin-left: 145px;
	margin-top: 283px;
}
.link3{
	margin-left: 148px;
	margin-top: 358px;
}
.link4{
	margin-left: 748px;
	margin-top: 212px;
}
.link5{
	margin-left: 749px;
	margin-top: 282px;
}
.link6{
	margin-left: 748px;
	margin-top: 357px;
}
.aboutlink{
	width: 114px;
	height: 33px;
	background-image: url('/templates/sati/images/nav/i0099.png');
}
.multimedialink{
	width: 129px;
	height:38px;
	background-image: url('/templates/sati/images/nav/i0103.png');
}
.shoplink{
	width: 114px;
	height:33px;
	background-image: url('/templates/sati/images/nav/i0107.png');
}
.linkslink{
	width: 113px;
	height:33px;
	background-image: url('/templates/sati/images/nav/i0101.png');
}
.difflink{
	width: 113px;
	height:33px;
	background-image: url('/templates/sati/images/nav/i0105.png');
}
.maplink{
	width: 113px;
	height:33px;
	background-image: url('/templates/sati/images/nav/i0109.png');
}