* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background-color: #000000;
}
.mainframe {
	width: 1008px;
	margin: 0 auto;
	height: 654px;
}
.link {
	position: absolute;
	cursor: pointer;
}
.link1 {
	margin-left: 145px;
	margin-top: 212px;
	width: 114px;
	height: 33px;
	background-image: url('/templates/sati/images/nav/i0111.png');
}
.link2 {
	margin-left: 145px;
	margin-top: 283px;
	width: 129px;
	height: 38px;
	background-image: url('/templates/sati/images/nav/i0128.png');
}
.link3 {
	margin-left: 148px;
	margin-top: 358px;
	width: 114px;
	height: 33px;
	background-image: url('/templates/sati/images/nav/i0132.png');
}
.link4 {
	margin-left: 748px;
	margin-top: 212px;
	width: 113px;
	height: 33px;
	background-image: url('/templates/sati/images/nav/i0126.png');
}
.link5 {
	margin-left: 749px;
	margin-top: 282px;
	width: 113px;
	height: 33px;
	background-image: url('/templates/sati/images/nav/i0130.png');
}
.link6 {
	margin-left: 748px;
	margin-top: 357px;
	width: 113px;
	height: 33px;
	background-image: url('/templates/sati/images/nav/i0109.png');
}
.content {
	width: 464px;
	margin-top: 116px;
	margin-left: 272px;
	position: absolute;
	height: 488px;
	overflow: auto;
}
