.press {
	padding: 5px;
}
.press span a {
	text-align: center;
	float: left;
	text-decoration: underline;
	font: 16px "Times New Roman";
	color: #D4D3D1;
	width: 200px;
}
.press img {
	width: 200px;
	float: left;
}
.clear {
	clear: both;
}
