<div class="row-fluid sortable">
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-edit"></i> Редактировать страницу</h2>
		</div>
		<div class="box-content">
			<form class="form-horizontal" method="POST" enctype='multipart/form-data'>
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="typeahead">Заголовок </label>
						<div class="controls">
							<input name='title' type="text" value="">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="typeahead">Ссылка </label>
						<div class="controls">
							/info-<input name='english' type="text" value="">.html
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="typeahead">Содержание </label>
						<div class="controls">
							<textarea name="body" class="tinymce"></textarea>
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" onclick="javascript:$('.form-horizontal').sublit()" class="btn btn-primary">
							Сохранить
						</button>
						
					</div>
				</fieldset>
			</form>

		</div>
	</div><!--/span-->
</div>