<div class="nav_slider">
	<a class="nav_slider_left"></a>
	<div class="photo_nav_slider">
		<div class="list">
		% render(projects/projects, projects) %
		%repeat 10%
		<a class="nouse" href='#'><img src="%tfold%/images/cs.png"/></a>
		%end%
		</div>

	</div>
	<a class="nav_slider_right"></a>
	<div class="team_preview">
		<a id="pr_link" href="#"> <img id="pr_img" src=""/> <span id="pr_text"></span> </a>
	</div>
</div>
<div class="employee_info">            
	<div class="bookmark_skills">
                <div class="icon_1 icon_skills" id="p2"></div>
                <div class="info_block_wrap active_block" style="width: 877px;">
                    <div class="info_block_overflow">
                        <div class="com_info_block" style="padding-left: 30px; display: block;">
                            <a class="com_info_block_title" href="">%name%</a>
                            <p class="post">%link%</p>
                            <div class="com_info_block_text">%big%</div>
                        </div>
                    </div>
                </div>
            </div>

	
                    <div class="bookmark_hobbie">
                <div class="icon_1 icon_hobbie" id="p1"></div>
                <div class="info_block_wrap" style="width: 30px;">
                    <div class="info_block_overflow">
                        <div class="com_info_block" style="padding-left: 30px; width: 560px; margin: 0px auto; display: none;">
                            <iframe width="420" height="315" src="http://www.youtube.com/embed/%video%" frameborder="0" allowfullscreen></iframe>
                    	</div>
                	</div>
            	</div>
            </div>
                    	
            <div class="bookmark_about">
            	
                <div class="icon_about icon_1"></div>
                <div class="info_block_wrap" style="width: 30px;">
                    <div class="info_block_overflow">
                        <div class="com_info_block" style="float: right; width: 847px; display: none;">
                        	
                        	<div class="photo_slider_wrap">
                            	<div class="nav_left"></div>
                                <div class="photos_preview">
                                	<div class="photo_tape" style="width: 680px; height: 320px; position: relative; overflow: hidden; visibility: visible;">
                                        <div class="__scrollable" style="position: absolute; width: 200000em;">
                                           	%each images as image%
                                           		<img class="resizable_image" width="213" src="/files/projects/small/%image%">
                                           	%end%
                                       </div>
                                        <br clear="all">                                    
                                    </div>
                                </div>
                                <div class="nav_right"></div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>    
            </div>